{% extends "base/base.html" %}
{% load i18n static %}

{% block title %}Formulário de Recuperação de Senha{% endblock title %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-10 mx-auto">
      <h1 class="mb-4 mt-4">Recuperar Senha</h1>

      <p>Esqueceu sua senha? Forneça seu endereço de email abaixo, e nós te enviaremos um email com instruções para
        configurar uma nova.
      </p>

      {% if form.errors %}
      <p class="text-danger">E-mail inválido, forneça um e-mail válido.</p>
      {% endif %}

      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ form.email.id_for_label }}">{{ form.email.label_tag }}</label>
          <input type="email" name="{{ form.email.html_name }}" class="form-control" value="{{ field.value }}"
            autofocus="" maxlength="{{ form.email.max_length }}" required="required" id="{{ form.email.id_for_label }}">
        </div>
        <button type="submit" class="btn btn-primary">Redefinir senha</button>
      </form>
    </div>
  </div>
</div>
{% endblock body %}